{% extends "leasing/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <header style="background-color:#150250" class="p-3 text-white text-center">
        <h5 style="color: white;">Nueva Empresa</h5>
    </header>    
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="from-group d-flex justify-content-center" style="padding-bottom:100px;">
                <a class="btn btn-danger btn-md" style="width: 50%;"  href="{% url 'empresa-home' %}">Cancelar</a>
                <button class="btn btn-success btn-md" style="width: 50%;" type="submit">Registrar Empresa</button>
            </div>
        </form>
    </div>
{% endblock content %}