{% extends "leasing/base.html" %}
{% block content %}
    <header style="background-color:#150250" class="p-3 text-white text-center">
        <h5 style="color: white;">Eliminar Empresa</h5>
    </header>    
    <div class="content-section">
        
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 r">Eliminar Empresa</legend>
                <h2  class=" text-center">¿Está seguro que desea eliminar la empresa "{{ object.nombre_empresa }}"? </h2>
            </fieldset>
            <div class="from-group d-flex justify-content-center" style="padding-bottom:100px;">
                <a class="btn btn-custom-red"  href="{% url 'empresa-home' %}">Cancelar</a>
                <button class="btn btn-danger" style="width: 30%;" type="submit">Eliminar</button>
            </div>
        </form>
    </div>
{% endblock content %}