{% extends "leasing/base.html" %}
{% block content %}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#FC">Flujo de caja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#DE">Datos de entrada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#RE">Resultados</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="FC" class="tab-pane fade show active"><br>
            <div class="row">
                <div class ="col-2">
                    <form style="margin-bottom:20px;" method='POST' action=''>
                        {% csrf_token %}
                        Buscar periodo:<br>
                        <input style="width:40px;" type="number" name="nPeriodo">
                        <br>
                        <br>
                        <input class="btn btn-outline-primary" type="submit" name= "buscar" value="buscar">
                    </form>
                </div>
                <div class ="col-2">
                    <form style="margin-bottom:20px;" method='POST' action=''>
                        {% csrf_token %}
                        Filtrar entre periodos:<br>
                        <input style="width:40px; margin-right:20px;" type="number" name="periodoI">
                        <input style="width:40px;" type="number" name="periodoF">
                        <br>
                        <br>
                        <input class="btn btn-outline-primary" type="submit" name= "filtrar" value="filtrar">
                    </form>
                </div>   
            </div>
            <header style="background-color:#150250;" class="p-3 text-white text-center">
                <div class="row">
                    <div class="col-2">
                        <h5 style="color: white; margin-left:20px;">{{ prestamo.empresa_solicitante.razon_social }} </h5>
                    </div>
                    <div class="col-8">
                        <h5 style="color: white;">Flujo de caja por Método Alemán</h5>
                    </div>
                </div>
            </header>
            <table class="table table-hover table-striped" style="margin-bottom:80px;">
                <thead>
                    <tr style="background-color: #898989; color: white; text-align:center"> 
                        <th scope="col" style="font-weight: 500;">Nº</th>
                        <th scope="col" style="font-weight: 500;">Saldo Inicial</th>
                        <th scope="col" style="font-weight: 500;">Interés</th>
                        <th scope="col" style="font-weight: 500;">Cuota</th>
                        <th scope="col" style="font-weight: 500;">Amortización</th>
                        <th scope="col" style="font-weight: 500;">Seguro riesgo</th>
                        <th scope="col" style="font-weight: 500;">Comisión</th>
                        <th scope="col" style="font-weight: 500;">Recompra</th>
                        <th scope="col" style="font-weight: 500;">Saldo Final</th>
                        <th scope="col" style="font-weight: 500;">Depreciación</th>
                        <th scope="col" style="font-weight: 500;">Ahorro tributario</th>
                        <th scope="col" style="font-weight: 500;">IGV</th>
                        <th scope="col" style="font-weight: 500;">Flujo bruto</th>
                        <th scope="col" style="font-weight: 500;">Flujo IGV</th>
                        <th scope="col" style="font-weight: 500;">Flujo neto</th>
                    </tr>
                </thead>
                <tbody>
                {% for table in tables %}
                <tr style="text-align:center"> 
                    {% if table.n in numPeriodos %}
                        <td>{{ table.n }}</td>
                        <td>{{ table.saldo_inicial|floatformat:2 }}</td>
                        <td>{{ table.interes|floatformat:2 }}</td>
                        <td>{{ table.Cuota|floatformat:2 }}</td>
                        <td>{{ table.amortizacion|floatformat:2 }}</td>
                        <td>{{ table.seguro_riesgo|floatformat:2 }}</td>
                        <td>{{ table.comision|floatformat:2 }}</td>
                        <td>{{ table.recompra|floatformat:2 }}</td>
                        <td>{{ table.saldo_final|floatformat:2 }}</td>
                        <td>{{ table.depreciacion|floatformat:2 }}</td>
                        <td>{{ table.ahorro_t|floatformat:2 }}</td>
                        <td>{{ table.igv|floatformat:2 }}</td>
                        <td>{{ table.flujo_b|floatformat:2 }}</td>
                        <td>{{ table.flujo_igv|floatformat:2 }}</td>
                        <td>{{ table.flujo_neto|floatformat:2 }}</td>

                    {% elif query == table.n|stringformat:"i" %}
                        <td>{{ table.n }}</td>
                        <td>{{ table.saldo_inicial|floatformat:2 }}</td>
                        <td>{{ table.interes|floatformat:2 }}</td>
                        <td>{{ table.Cuota|floatformat:2 }}</td>
                        <td>{{ table.amortizacion|floatformat:2 }}</td>
                        <td>{{ table.seguro_riesgo|floatformat:2 }}</td>
                        <td>{{ table.comision|floatformat:2 }}</td>
                        <td>{{ table.recompra|floatformat:2 }}</td>
                        <td>{{ table.saldo_final|floatformat:4 }}</td>
                        <td>{{ table.depreciacion|floatformat:2 }}</td>
                        <td>{{ table.ahorro_t|floatformat:2 }}</td>
                        <td>{{ table.igv|floatformat:2 }}</td>
                        <td>{{ table.flujo_b|floatformat:2 }}</td>
                        <td>{{ table.flujo_igv|floatformat:2 }}</td>
                        <td>{{ table.flujo_neto|floatformat:2 }}</td>
                    {% elif valor != 's'  %}
                        <td>{{ table.n }}</td>
                        <td>{{ table.saldo_inicial|floatformat:2 }}</td>
                        <td>{{ table.interes|floatformat:2 }}</td>
                        <td>{{ table.Cuota|floatformat:2 }}</td>
                        <td>{{ table.amortizacion|floatformat:2 }}</td>
                        <td>{{ table.seguro_riesgo|floatformat:2 }}</td>
                        <td>{{ table.comision|floatformat:2 }}</td>
                        <td>{{ table.recompra|floatformat:2 }}</td>
                        <td>{{ table.saldo_final|floatformat:2 }}</td>
                        <td>{{ table.depreciacion|floatformat:2 }}</td>
                        <td>{{ table.ahorro_t|floatformat:2 }}</td>
                        <td>{{ table.igv|floatformat:2 }}</td>
                        <td>{{ table.flujo_b|floatformat:2 }}</td>
                        <td>{{ table.flujo_igv|floatformat:2 }}</td>
                        <td>{{ table.flujo_neto|floatformat:2 }}</td>
                        {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <form style="margin-bottom:80px;" method='POST' action=''>
                {% csrf_token %}
                <input style="width:40px; margin-right:20px;" type="hidden" value="{{ periodoI }}" name="periodoIPDF">
                <input style="width:40px;" type="hidden" value="{{ periodoF }}" name="periodoFPDF">
                <input style="width:40px;" type="hidden" value="{{ query }}"  name="nPeriodoPDF">
                <input type="{{ iType }}" class="btn btn-outline-primary" name= "PDF" value="Guardar PDF">
            </form>
        </div>
        <div id="DE" class="tab-pane fade"><br>
            <header style="background-color:#150250" class="p-3 text-white text-center">
                <h5 style="color: white;">Solicitud LAP-Sol-{{ prestamo.id }}</h5>
            </header>
            <div class="content-section" style="margin-bottom:80px;">
                <div class="row">
                    <div class="col-md-6">
                        <h4><strong>Datos de entrada:</strong></h4><br>
                        <p>Empresa ofertante: {{ prestamo.empresa_ofertante }}</p>
                        <p>Empresa solicitante: {{ prestamo.empresa_solicitante.razon_social }}</p>
                        <p>Vehículo: {{ prestamo.vehiculo }}</p>
                        <p>Modelo: {{ prestamo.modelo }}</p>
                        <p>Tipo de pago: {{ prestamo.tipo_de_pago }}</p>
                        <p>Tipo de tasa Interés: {{ prestamo.tipo_tasa_interes }}</p>
                        <p>Plazo de gracia: {{ prestamo.plazo_de_gracia }} días</p>
                        <p>Periodo inicial de plazo de gracia: {{ prestamo.periodo_inicial_pg }}</p>
                        <p>Fecha de inicio: {{ prestamo.fecha_inicio|date:"D d M Y" }}</p>
                    </div>
                    <div class="col-md-6">
                        <h4><strong>Del préstamo:</strong></h4><br>
                        <p>Precio de venta del activo: {{ prestamo.precio_venta_del_activo }} S/.</p>
                        <p>Número de años: {{ prestamo.numero_de_años }}</p>
                        <p>Frecuencia de pago: {{ frecuencia_pago }}</p>
                        <p>Nª días del año: {{ dias_del_ano }}</p>
                        <p>{{ prestamo.tipo_tasa_interes }}: {{ prestamo.tasa_de_interes }} %</p>
                        <p>IGV: {{ IGV }} %</p>
                        <p>IR: {{ impuesto_renta }} %</p>
                        <p>Recompra: {{ prestamo.recompra }} %</p>
                    </div>
                </div>
                <hr>
                <div class = "row">
                    <div class="col-md-6">
                        <h4><strong>Costos iniciales:</strong></h4><br>
                        <p>Costes notariales: {{ prestamo.costos_notariales }} S/.</p>
                        <p>Costes registrales: {{ prestamo.costos_registrales }} S/.</p>
                        <p>Tasación: {{ prestamo.tasacion }} S/.</p>
                        <p>Comisión de estudio: {{ prestamo.comision_de_estudio }} S/.</p>
                        <p>Comisión de activación: {{ prestamo.comision_de_activacion }} S/.</p>
                    </div>
                    <div class="col-md-6">
                        <h4><strong>Costos periódicos:</strong></h4><br>
                        <p>Comisión periódica: {{ prestamo.comision_periodica }} %</p>
                        <p>Seguro de riesgo: {{ prestamo.seguro_riesgo }} %</p>
                        <br>
                        <h4><strong>Costo de oportunidad:</strong></h4><br>
                        <p>Comisión periódica: {{ prestamo.tasa_descuento_Ks }} %</p>
                        <p>Seguro de riesgo: {{ prestamo.tasa_descuento_WACC }} %</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="RE" class="tab-pane fade"><br>
            <header style="background-color:#150250" class="p-3 text-white text-center">
                <h5 style="color: white;">Solicitud LAP-Sol-{{ prestamo.id }}</h5>
            </header>
            <div class="content-section" style="margin-bottom:80px;">
                <div class = "row">
                    <div class="col-md-6">
                        <h4><strong>Del arrendamiento:</strong></h4><br>
                        <p>IGV del activo: {{ IGV_del_activo|floatformat:2 }} S/.</p>
                        <p>Valor venta del activo: {{ valor_de_venta_a|floatformat:2 }} S/.</p>
                        <p>Monto del leasing: {{ monto_del_leasing|floatformat:2 }} S/.</p>
                        <p>TEP: {{ TEP|floatformat:4 }} %</p>
                        <p>Nº cuotas por año: {{ numero_cuotas_por_ano }} </p>
                        <p>Nº total de cuotas {{ nCuotas }} </p>
                    </div>
                    <div class="col-md-6">
                        <h4><strong>Gastos periódicos:</strong></h4><br>
                        <p>Seguro riesgo: {{ s_riesgo }} S/.</p>
                    </div>
                </div>
                <hr>
                <div class = "row">
                    <div class="col-md-6">
                        <h4><strong>Totales por:</strong></h4><br>
                        <p>Intereses: {{ intereses|floatformat:2 }} S/.</p>
                        <p>Amoritzación del capital: {{ amortizacion_c|floatformat:2 }} S/.</p>
                        <p>Seguro contra todo riesgo: {{ seguro_ctr }} S/.</p>
                        <p>Comisiones periódicas: {{ comisiones_p }} S/.</p>
                        <p>Recompra: {{ recompra_t|floatformat:2 }} S/.</p>
                        <p>Desembolso total: {{ desembolso_t|floatformat:2 }} S/.</p>
                    </div>
                    <div class="col-md-6">
                        <h4><strong>Indicadores de rentabilidad:</strong></h4><br>
                        <p>TCEA flujo bruto: {{ TCEA_fb|floatformat:2 }} %</p>
                        <p>TCEA flujo neto: {{ TCEA_fn|floatformat:2 }} %</p>
                        <p>VAN flujo bruto: {{ VAN_fb|floatformat:2 }} S/.</p>
                        <p>VAN flujo neto: {{ VAN_fn|floatformat:2 }} S/.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}