{% extends "leasing/base.html" %}
{% block content %}
        <header style="background-color:#150250" class="p-3 text-white text-center">
            <h5 style="color: white;">Solicitud LAP-Sol-{{ object.id }}</h5>
        </header>
        <div class="content-section" style="margin-bottom:80px;">
            <div class="media">
                <div class="media-body">
                <h4>Empresa ofertante: {{ object.empresa_ofertante }}</h4>
                <h4>Empresa solicitante: {{ object.empresa_solicitante.razon_social }}</h4>
                <h4>Vehículo: {{ object.vehiculo }}</h4>
                <h4>Modelo: {{ object.modelo }}</h4>
                <h4>Precio de venta: {{ object.precio_venta }} S/.</h4>
                <h4> TEA: {{ object.TEA }} %</h4>
                <hr>
                <div class = "row">
                    <div class="col-md-6">
                        <h4><strong>Costos iniciales:</strong></h4>
                        <h4>Gastos Administrativos: {{ object.gastos_admin }} S/.</h4>
                        <h4>Fotocopias: {{ object.fotocopias }} S/.</h4>
                    </div>
                    <div class="col-md-6">
                        <h4><strong>Costos mensuales:</strong></h4>
                        <h4>Seguro de desgravamen: {{ object.seguro_desgravamen }} %</h4>
                        <h4>Seguro de riesgo: {{ object.seguro_riesgo }} %</h4>
                    </div>
                </div>
                <hr>
                <div class = "row">
                    <div class="col-md-6">
                        <h4><strong>Datos de salida: </strong></h4>
                        <h4> TCEA: {{ object.TCEA }} %</h4>
                        <h4> Cuotas: {{ object.cuotas }}</h4>
                        <h4> Intereses: {{ object.Intereses }} %</h4>
                        <h4> VAN: {{ object.VAN }} S/.</h4>
                    </div>
                    <div class="col-md-6" style="margin-top:70px;">
                        <a class="btn btn-outline-primary"  href="{% url 'prestamo-update' object.id %}">Actualizar</a>
                        <a class="btn btn-outline-danger"  href="{% url 'prestamo-delete' object.id %}">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}