{% extends "leasing/base.html" %}
{% block content %}

<form style="margin-bottom:20px;" method='GET' action=''>
    Buscar periodo:<br>
    <input style="width:40px;" type="number" name="nPeriodo" value='{{ request.GET.nPeriodo }}'>
    <br>
    <br>
    <input class="btn btn-outline-primary" type="submit" value="buscar">
    <a class="btn btn-outline-primary"  href="{% url 'prestamo-update' pk %}">Editar</a>
</form> 

    <header style="background-color:#150250;" class="p-3 text-white text-center">
        <h5 style="color: white;">Flujo de caja por Método Alemán</h5>
    </header>
    <table class="table table-hover table-striped" style="margin-bottom:80px;">
        <thead>
            <tr style="background-color: #898989; color: white; text-align:center"> 
                <th scope="col" style="font-weight: 500;">Nº</th>
                <th scope="col" style="font-weight: 500;">Saldo Inicial</th>
                <th scope="col" style="font-weight: 500;">Interés</th>
                <th scope="col" style="font-weight: 500;">Cuota</th>
                <th scope="col" style="font-weight: 500;">Amortización</th>
                <th scope="col" style="font-weight: 500;">Saldo Final</th>
            </tr>
        </thead>
        <tbody>
        {% for table in tables %}
        <tr style="text-align:center"> 
            {% if query == table.n|stringformat:"i" %}
                <td>{{ table.n }}</td>
                <td>{{ table.saldo_inicial|floatformat:2 }}</td>
                <td>{{ table.interes|floatformat:2 }}</td>
                <td>{{ table.Cuota|floatformat:2 }}</td>
                <td>{{ table.amortizacion|floatformat:2 }}</td>
                <td>{{ table.saldo_final|floatformat:2 }}</td>
            {% elif valor != 's'  %}
                <td>{{ table.n }}</td>
                <td>{{ table.saldo_inicial|floatformat:2 }}</td>
                <td>{{ table.interes|floatformat:2 }}</td>
                <td>{{ table.Cuota|floatformat:2 }}</td>
                <td>{{ table.amortizacion|floatformat:2 }}</td>
                <td>{{ table.saldo_final|floatformat:2 }}</td>
             {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}